examples/phidget22-1048-TMP1100-example.json
[{"id":"e6e9e963.f19838","type":"tab","label":"1048 / TMP1100 Example","disabled":false,"info":""},{"id":"8011a629.82b498","type":"phidget22-connect","z":"e6e9e963.f19838","port":"5661","hostname":"localhost","debug":true,"x":230,"y":220,"wires":[["74d58aaf.4e6154"]]},{"id":"66501205.8ea15c","type":"switch","z":"e6e9e963.f19838","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"TemperatureChange","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":360,"wires":[["6a6b36c1.acba98"],["74d58aaf.4e6154"]]},{"id":"b1befd83.41331","type":"phidget22-temperaturesensor","z":"e6e9e963.f19838","channel":"4","deviceSerialNumber":-1,"hubPort":0,"debug":false,"dataInterval":"300","temperatureChangeTrigger":0,"RTDWireSetup":3,"RTDType":2,"thermocoupleType":2,"x":200,"y":300,"wires":[["621f7a1a.910994"]]},{"id":"c28fb41a.4c8728","type":"phidget22-temperaturesensor","z":"e6e9e963.f19838","channel":0,"deviceSerialNumber":-1,"hubPort":0,"debug":false,"dataInterval":"300","temperatureChangeTrigger":0,"RTDWireSetup":3,"RTDType":2,"thermocoupleType":2,"x":200,"y":360,"wires":[["66501205.8ea15c"]]},{"id":"876b61a8.2ee81","type":"phidget22-temperaturesensor","z":"e6e9e963.f19838","channel":"1","deviceSerialNumber":-1,"hubPort":0,"debug":false,"dataInterval":"300","temperatureChangeTrigger":0,"RTDWireSetup":3,"RTDType":2,"thermocoupleType":2,"x":200,"y":400,"wires":[["fe1bfbc5.d80528"]]},{"id":"fe1bfbc5.d80528","type":"switch","z":"e6e9e963.f19838","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"TemperatureChange","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":400,"wires":[["b4506b16.8ab8f8"],["74d58aaf.4e6154"]]},{"id":"621f7a1a.910994","type":"switch","z":"e6e9e963.f19838","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"TemperatureChange","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":300,"wires":[["90a2076c.293458"],["74d58aaf.4e6154"]]},{"id":"90a2076c.293458","type":"function","z":"e6e9e963.f19838","name":"extract","func":"return {\n    \"topic\":\"t\",\n    \"payload\":msg.payload.temperature\n};","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["6200a2c6.9b0fdc"]]},{"id":"6200a2c6.9b0fdc","type":"ui_text","z":"e6e9e963.f19838","group":"b28b81b8.4bf02","order":1,"width":0,"height":0,"name":"","label":"Board Temperature","format":"{{msg.payload}}°C","layout":"col-center","x":750,"y":300,"wires":[]},{"id":"74d58aaf.4e6154","type":"debug","z":"e6e9e963.f19838","name":"Console Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":220,"wires":[]},{"id":"6a6b36c1.acba98","type":"function","z":"e6e9e963.f19838","name":"extract","func":"return {\n    \"topic\":\"t\",\n    \"payload\":msg.payload.temperature\n};","outputs":1,"noerr":0,"x":570,"y":360,"wires":[["d37a16ba.d66668"]]},{"id":"b4506b16.8ab8f8","type":"function","z":"e6e9e963.f19838","name":"extract","func":"return {\n    \"topic\":\"t\",\n    \"payload\":msg.payload.temperature\n};","outputs":1,"noerr":0,"x":570,"y":400,"wires":[["d37a16ba.d66668"]]},{"id":"d37a16ba.d66668","type":"ui_chart","z":"e6e9e963.f19838","name":"","group":"b28b81b8.4bf02","order":1,"width":0,"height":0,"label":"TC Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"400","removeOlder":1,"removeOlderPoints":"500","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":380,"wires":[[]]},{"id":"c34f5e30.71e44","type":"comment","z":"e6e9e963.f19838","name":"?","info":"These are the Phidget TemperatureSensor objects. Each one represents a different TemperatureSensor channel on your board.For the 1048 or TMP1101, the top one is the on-board ambient temperature sensor, and the other two are the first two thermocouple ports.","x":150,"y":480,"wires":[]},{"id":"93719c02.71982","type":"comment","z":"e6e9e963.f19838","name":"?","info":"These switches filter the events so we can send all data to the GUI and everything else (attach, detach, error) to the console.","x":390,"y":480,"wires":[]},{"id":"4a1a1ef.62d56e","type":"comment","z":"e6e9e963.f19838","name":"?","info":"These functions simply extract the \"temperature\" variable from the JSON object payload of the TemperatureChange events. \n\nEvent payloads are always wrapped in JSON, even when there is only one variable in the payload (for consistency).","x":570,"y":480,"wires":[]},{"id":"25e14ff8.1f04a","type":"comment","z":"e6e9e963.f19838","name":"?","info":"These are GUI elements belonging to the \"dashboard\" module. Go to /ui/ in the browser to see the GUI.","x":710,"y":480,"wires":[]},{"id":"4ec7fcac.ea4724","type":"comment","z":"e6e9e963.f19838","name":"?","info":"This \"connect\" node specifies which remote Phidget server we're accessing. \n\nIn the Phidget Control Panel, go to the \"Network Server\" tab and make sure the network server is running (click \"start\" if it isn't). You'll be able to see the hostname in the Webserver section (\"localhost\" by default), and you can see the port in the Phidget Server section (5661 by default).","x":210,"y":160,"wires":[]},{"id":"71044824.5fa488","type":"comment","z":"e6e9e963.f19838","name":"1048 / TMP1100 Example Flow","info":"","x":510,"y":60,"wires":[]},{"id":"c04ecf86.5082d","type":"comment","z":"e6e9e963.f19838","name":"Double click the \"?\" for comments","info":"","x":510,"y":100,"wires":[]},{"id":"b28b81b8.4bf02","type":"ui_group","z":"","name":"","tab":"ea05463b.ebcbf8","disp":true,"width":"6","collapse":false},{"id":"ea05463b.ebcbf8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]